
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-family: Helvetica;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    background: rgb(227 245 240);
}


/*Navigaion bar*/
.topnav {
    margin: auto;
    width: 50%;
    overflow: hidden;
    background-color: #333;
    display: flex;
}

    .topnav a {
        flex-grow: 3;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a:focus {
            background-color: #04AA6D;
            color: white;
        }

/*Tags*/


p, button, div {
    text-align: center;
    align-content:center;
}

#categories {
    text-align: center;
}

#img {
    position: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    align-content: center;
}

/* Button */
.button-84 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
}

    .button-84:hover {
        box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
        opacity: .85;
    }

    .button-84:active {
        outline: 0;
    }

    .button-84:focus {
        box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
    }

    .button-84:visited {
        text-decoration: none;
        color: wheat;
    }

@media (max-width: 420px) {
    .button-84 {
        height: 48px;
    }
}


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


h1 {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: cornflowerblue;
    padding: 30px 0;
    font-family: Arial;
}

/* Table Styles */

.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

    .fl-table td, .fl-table th {
        text-align: center;
        padding: 8px;
    }

    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }

    .fl-table thead th {
        color: #ffffff;
        background: #4FC3A1;
    }


        .fl-table thead th:nth-child(odd) {
            color: #ffffff;
            background: #324960;
        }

    .fl-table tr:nth-child(even) {
        background: #F8F8F8;
    }





.check {
    white-space: pre-wrap;
    word-wrap: break-word;
}
a {
    text-decoration: none;
    color: white;
}

    a:visited {
        text-decoration: none;
        color: white;
    }