<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Css/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="~/Js/JavaScript.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery.validate.min-1.17.0.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min-3.2.10.js"></script>
</head>
<body>

    <div class="topnav">
        <a class="focuss" asp-controller="Home" asp-action="ShowHomePage">Home</a>
        <a asp-controller="Catalog" asp-action="ShowCatalogPage" asp-route-id="2">Catalog</a>
        <a asp-controller="Administrator" asp-action="ShowAdministratorPage" asp-route-id="2">Administrator</a>
    </div>

       @RenderBody()

</body>
</html>
